<script type="text/javascript">
    RED.nodes.registerType('gladys-hears', {
        category: 'Gladys',
        color: '#FFAAAA',
        defaults: {
            googleAuth: {
                value: "", type: "google-conn"
            },
            name: {
                value: ""
            },
            device: {
                value: RED.settings.gladysHearsDevice
            },
            silenceTimeout: {
                value: RED.settings.gladysHearsSilenceTimeout
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "bridge-dash.png",
        align: 'left',
        label: function () {
            return this.name || "gladys-hears";
        },
        labelStyle: function () {
            return this.name ? "" : "node_label_italic";
        }
    });
</script>

<script type="text/x-red" data-template-name="gladys-hears">
    <div class="form-row">
        <label for="node-input-googleAuth"><i class="icon-tag"></i> Google Auth</label>
        <input type="text" id="node-input-googleAuth">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-device"><i class="icon-tag"></i> RPi device</label>
        <input type="text" id="node-input-device" placeholder="hw:1,0"> (AUDIODEV=???)
    </div>
    <div class="form-row">
        <label for="node-input-silenceTimeout"><i class="icon-tag"></i> Silence timeout</label>
        <input type="text" id="node-input-silenceTimeout" placeholder="3"> (seconds)
    </div>
</script>

<script type="text/x-red" data-help-name="gladys-hears">
    <p>TODO</p>
</script>
